<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>ChatApp</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    </head>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns is-multiline">
                    <div class="column is-4 is-offset-2">
                        <section class="hero is-primary is-medium has-background-link">
                            <div class="hero-body">
                                <p class="title">
                                    ChatApp
                                </p>
                                <p class="subtitle">
                                    Made by Marius and Lennard
                                </p>
                            </div>
                        </section>
                    </div>

                    <div class="column is-4 mt-4">
                        <div class="field">
                            <label>Channel name</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Room name" id="room-name-input">
                            </div>
                        </div>

                        <div class="field">
                            <label>Nickname</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Username" id="username-input">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <a class="button is-info is-light" id="room-name-submit">Connect</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            document.querySelector('#room-name-input').focus();
            document.querySelector('#room-name-submit').onclick = function(e) {
                var roomName = document.querySelector('#room-name-input').value;
                var userName = document.querySelector('#username-input').value;

                window.location.replace(roomName + '/?username=' + userName);
            };
        </script>
    </body>
</html>